@using EntityLayer.Concrete
@model List<Skill>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<!-- Light table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="budget">Title</th>
                <th scope="col" class="sort" data-sort="status">Value</th>
                <th scope="col">Delete</th>
                <th scope="col" class="sort" data-sort="completion">Update</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                
          
            <tr>
                <th>
                    @item.SkillId
                </th>
                <td class="budget">
                    @item.Title
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <span class="completion mr-2">@item.Value%</span>
                        <div>
                            <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100" style="width: @item.Value%;"></div>
                            </div>
                        </div>
                    </div>
                </td>
                <td><a href="/Skill/DeleteSkill/@item.SkillId"class="btn btn-danger">Delete</a></td>
                <td><a href="/Skill/UpdateSkill/@item.SkillId"class="btn btn-warning">Update</a></td>
            </tr>
            }
           
        </tbody>
    </table>
   
    <a href ="/Skill/AddSkill/" class="btn btn-primary">Add New Skill</a>
</div>
