@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Add New Experience</h3>
</div>

@using (Html.BeginForm("AddExperience", "Experience", FormMethod.Post))

{
    <br />
    @Html.Label("Experience Title")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <label>Date</label>
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <label>Image</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <label>Description</label>
    @Html.TextAreaFor(x => x.Description, 10, 3,new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Add</button>
}


