@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "UpdateSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}



@using (Html.BeginForm("UpdateExperience", "Experience", FormMethod.Post))

{

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <p class="card-description"> Update Experience </p>
                <form class="forms-sample">

                    <div class="form-group">
                        <label>Experience ID</label>
                        @Html.TextBoxFor(x=>x.ExperienceId, new {@class="form-control"})
                    </div>
                    <div class="form-group">
                        <label>Experience Name</label>
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Experience Date</label>
                        @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Image URL</label>
                        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        @Html.TextAreaFor(x => x.Description, 6, 3, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Update</button>
                    <button class="btn btn-dark">Cancel</button>
                </form>
            </div>
        </div>
    </div>
}

