@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "UpdateSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Update Skill</h3>
</div>

@using (Html.BeginForm("UpdateExperience", "Experience", FormMethod.Post))

{

    @Html.HiddenFor(x => x.ExperienceId)
    <br />
    @Html.Label("Experience Name")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <label>Value</label>
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.Label("Experience Image")
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    @Html.Label("Experience Description")
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Update</button>
}

